.cabecalho{
    width: 100%;
    height: 5%;
    background-color: #00ff00;
}

.cabecalho__li{
    display: inline-block;
    margin: 0 1%;
}

.cabecalho__a{
    display: inline-block;
    background-color: #ff0000;
    padding: 4%;
    width: 9vw;
    text-align: center;
    border: 1px solid #000000;
}

/*PSEUDO CLASSE*/

.cabecalho__a:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #fff;
}